# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
mcp-go-client
mcp-go-server
client_app/stdio_example/mcp-go-client
client_app/stdio_example/mcp-go-server
client_app/main-app/mcp-go-client
client_app/main-app/mcp-go-server
client_app/mcp-go-client
server_app/mcp-go-server
explorer_ux/node_modules/*
explorer_ux/node_modules
explorer_ux/dist

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
